work/
*.wlf
transcript

*.cache/
*.hw/

*.jou
vivado.log
vivado*.str
xsim*
webtalk*
*.pb
*.wdb
*.vdb
*.rlx
*.pb
*.ini
UNISIM/
modelsim_lib/
*.log
Xilinx_Libs/
setup/
compile/
bitgen/
xil_defaultlib/
clk_wiz_0_1/
.cxl*
*.veo
*.vho
*.bak
*.rst
*.rpt
